/CodePSBO/praktikum-2/Pvz/nbproject/private/
/CodePSBO/praktikum-2/Pvz/build/
/CodePSBO/praktikum-2/Pvz/dist/
/CodePSBO/praktikum-2/TugasPraktikum-3/nbproject/private/
/CodePSBO/praktikum-2/TugasPraktikum-3/build/
/CodePSBO/praktikum-3/Tugas/nbproject/private/
/CodePSBO/praktikum-3/Tugas/build/
/CodePSBO/praktikum-10/DesignPattern_Factory/nbproject/private/
/CodePSBO/praktikum-10/DesignPattern_Factory/build/
/CodePSBO/praktikum-10/TestingJUnit/nbproject/private/