@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_bg">
    <div class="container">
        <div class="main">
            <ul class="service_list">
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/wifi.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Wifi-Internet</h3></a>
                    <p class="para">Disetiap koridor sudah terpasang Access Point</p>
                    @*<h4><a href="#">Lorem ipsum</a></h4>*@
                </li>
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic2.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Kolam Renang</h3></a>
                    <p class="para">Kenikmatan kolam renang yang bisa digunakan untuk melepas lelah.</p>
                    @*<h4><a href="#">Nulla accumsan</a></h4>*@
                </li>
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic3.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Wedding</h3></a>
                    <p class="para">Luasnya tempat resepsi pernikahan</p>
                    <h4>@*<a href="#">Vestilum feliing</a>*@</h4>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic4.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Spa</h3></a>
                    <p class="para">Tempat mereleksasikan diri ditempat yang nyaman</p>
                    @*<h4><a href="#">Nulla commodo</a></h4>*@
                </li>
                <div class="clear"></div>
            </ul>

            <ul class="service_list top">
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic5.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Juru Masak Profesional</h3></a>
                    <p class="para">Memberikan makanan kelas dunia</p>
                    @*<h4><a href="#">Lorem ipsum</a></h4>*@
                </li>
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic6.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Bartender</h3></a>
                    <p class="para">Tempat nongkrong atau bercengkrama dengan teman-teman</p>
                    @*<h4><a href="#">Nulla accumsan</a></h4>*@
                </li>
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic7.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Pelayanan</h3></a>
                    <p class="para">Semua kebutuhan Anda akan dilayani 24 jam</p>
                    <h4><a href="#">@*Vestilum feliing*@</a></h4>
                </li>
                <li>
                    <div class="ser_img">
                        <a href="#">
                            <img src="~/Images/ser_pic8.jpg" alt="" />
                            <span class="next"> </span>
                        </a>
                    </div>
                    <a href="#"><h3>Makanan Khas Spesial</h3></a>
                    <p class="para">Memberiakan cemilan yang khas dan memiliki keunikan rasa.</p>
                    @*<h4><a href="#">Lorem ipsum</a></h4>*@
                </li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
