@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="rooms text-center">
    <div class="container">
        <h3>Our Room Types</h3>
        <div class="room-grids">
            <div class="col-md-4 room-sec">
                <img src="~/Images/pic1.jpg" alt="" />
                <h4>Standard Double Room</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
                <div class="items">
                    <li><a href="#"><span class="img1"> </span></a></li>
                    <li><a href="#"><span class="img2"> </span></a></li>
                    <li><a href="#"><span class="img3"> </span></a></li>
                    <li><a href="#"><span class="img4"> </span></a></li>
                    <li><a href="#"><span class="img5"> </span></a></li>
                    <li><a href="#"><span class="img6"> </span></a></li>
                </div>
            </div>
            <div class="col-md-4 room-sec">
                <img src="~/Images/pic2.jpg" alt="" />
                <h4>Superior Double Room</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
                <div class="items">
                    <li><a href="#"><span class="img1"> </span></a></li>
                    <li><a href="#"><span class="img2"> </span></a></li>
                    <li><a href="#"><span class="img3"> </span></a></li>
                    <li><a href="#"><span class="img4"> </span></a></li>
                    <li><a href="#"><span class="img5"> </span></a></li>
                    <li><a href="#"><span class="img6"> </span></a></li>
                </div>
            </div>
            <div class="col-md-4 room-sec">
                <img src="~/Images/pic3.jpg" alt="" />
                <h4>Family Room</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
                <div class="items">
                    <li><a href="#"><span class="img1"> </span></a></li>
                    <li><a href="#"><span class="img2"> </span></a></li>
                    <li><a href="#"><span class="img3"> </span></a></li>
                    <li><a href="#"><span class="img4"> </span></a></li>
                    <li><a href="#"><span class="img5"> </span></a></li>
                    <li><a href="#"><span class="img6"> </span></a></li>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
