<!---->
<div class="fotter">
    <div class="container">
        <h3>143 City Located Hotels WorldWide</h3>
        <h4>"Hospitality, Quality & Good Locations. We only provide you with the best hotels" - John Deo</h4>
        <i class="man"></i>
    </div>
</div>
<!---->
<div class="fotter-info">
    <div class="container">
        <div class="col-md-5 details">
            <div class="hotel-info">
                <h4>ABOUT THIS HOTEL</h4>
                <p>Suspendisse erat mi, tincidunt sit amet massa quis, commodo fermentum diam. Sed nec dui nec nunc tempor interdum.</p>
                <p>Ut vulputate augue urna, ut porta dolor imperdiet a. Vestibulum nec leo eu magna aliquam ornare.</p>
            </div>
            <div class="news">
                <h4>LATEST NEWS</h4>
                <h5>Grand Hotel Joins Deluxe Hotels</h5>
                <a href="#">15 AUG</a>
                <h5>Happy Christmas To Everyone</h5>
                <a href="#">15 AUG</a>
                <h5>Best Places To Visit 2014</h5>
                <a href="#">15 AUG</a>
                <h5>Various Offers</h5>
                <a href="#">15 AUG</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-7 details">
            <div class="join">
                <h4>JOIN DELUXE HOTELS</h4>
                <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vestibulum blandit egestas.
                    Nam id lectus vel orci luctus consectetur eget id elit. In tortor odio, pellentesque eu arcu sit amet, lacinia euismod nisi. Aliquam sodales tristique mauris ac fermentum.
                    Donec vel varius ipsum. Pellentesque vitae mollis massa.
                </p>
                <p>There is no costs or whatsoever so sign up today!</p>
                <a href="#">READ MORE</a>
            </div>
            <div class="member">
                <h4>MEMBERS AREA</h4>
                <form>
                    <p>Username</p>
                    <input type="text" placeholder="" required />
                    <p>Password</p>
                    <input type="password" placeholder="" required />
                    <input type="submit" value="LOGIN" />
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <h6>&copy 2014 Hotel Fortune . All Rights Reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></h6>
</div>