<!---->
<div class="fotter">
    <div class="container">
        <h3>143 Kota Lokasi Hotel di Indonesia</h3>
        <h4>"Kami hanya menyediakan Hotel yang nyaman, aman dan terjamin" - M. Ivan </h4>
        <i class="man"></i>
    </div>
</div>
<!---->
<div class="fotter-info">
    <div class="container">
        <div class="col-md-5 details">
            <div class="hotel-info">
                <h4>ABOUT THIS HOTEL</h4>
                <p>Hotel yang bernuansa Spa yang memberikan kenyamanan, keamanan dan jaminan yang memuaskan.</p>
            </div>
            <div class="news">
                <h4>BERITA TERBARU</h4>
                <h5>Grand Hotel Berkolaborasi dengan Ivan Hotels</h5>
                <a href="#">15 Jan</a>
                <h5>Selamat Tahun Baru</h5>
                <a href="#">1 Jan</a>
                <h5>Tempat Terbaik di 2015</h5>
                <a href="#">25 Des</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-7 details">
            @*<div class="join">
                <h4>JOIN DELUXE HOTELS</h4>
                <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vestibulum blandit egestas.
                    Nam id lectus vel orci luctus consectetur eget id elit. In tortor odio, pellentesque eu arcu sit amet, lacinia euismod nisi. Aliquam sodales tristique mauris ac fermentum.
                    Donec vel varius ipsum. Pellentesque vitae mollis massa.
                </p>
                <p>There is no costs or whatsoever so sign up today!</p>
                <a href="#">READ MORE</a>
            </div>
            <div class="member">
                <h4>MEMBERS AREA</h4>
                <form>
                    <p>Username</p>
                    <input type="text" placeholder="" required />
                    <p>Password</p>
                    <input type="password" placeholder="" required />
                    <input type="submit" value="LOGIN" />
                </form>
            </div>*@
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <h6>&copy 2016 Ivan Hotel . All Rights Reserved</h6>
</div>