@model IvanHotel.Models.JenisKelamin

@{
    ViewBag.Title = "Editor Jenis Kelamin";
    Layout = "~/Views/Shared/Back/_Layout.cshtml";
}
<div class="box box-success">
    <div class="box-header"><h5>Detial Jenis Kelamin</h5><hr /></div>
    <div class="box-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nama)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning btn-flat" })
            @Html.ActionLink("Back to List", "Index", "",new { @class = "btn btn-default btn-flat"})
        </p>
    </div>
</div>