/*
 *   Custom/Simaker Style Login/Index/News
 *   Author: *Mulia 
 *	 Website: http://www.ritongamulia.com
     Mail : *@apps.ipb.ac.id
 *   
 *          
*/
body {font-weight:300;
    margin-bottom: 60px;
}

#second li {
    float: left;
    list-style: outside none none;
    margin-right: 5px;
}

#second li a{
    color:#444;
}
#links a:hover{color:#fff;background: #3A2696;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;}
#links a {
    color: #fff;
}
.row.link-penting{ background: #4f31dc; margin-top: 65px;
    height: 50px;
    padding: 15px;}
#links li {
    float: left;
    list-style: outside none none;
    margin-right: 15px;
}
.log {
    background: #fff  ;
}
.left-align{text-align:left;}
.right-align{text-align:right;}
.glyphicon.glyphicon-save-file {
    color: #fc7e49;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
    font-weight: normal;
}
.slambox li {
    border-bottom: 1px solid #ebe5e5;
    font-size: 17px;
    list-style: outside none none;
    padding-bottom: 8px;
    padding-top: 8px; float: left;
    width: 50%;
}

.alert-dangers {
    background: none repeat scroll 0 0 #e8e8e8;
    margin-top: 20px;
    padding: 15px 25px 15px 15px;
}
.slambox > ul {
    padding: 15px;
}
.slambox > a{ border-color: -moz-use-text-color -moz-use-text-color #e0e0e0;
    border-image: none;
    border-style: none none solid;width:100%;
    border-width: 0 0 1px;
    box-shadow: none;}
.row.nav-top {box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background: none repeat scroll 0 0 #fff;
   /*  padding: 0 15px 15px;  */ margin-bottom: 50px;
}

.col-sm-12.top-logos {
    padding-top: 10px;
}
.col-sm-12.top-header > h4 {
    margin-top: 10px;
}
.img-responsi {
    float: left;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: 10px;
}

.img-responsix {
    float: left;margin-top:8px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: 10px;
}
	
	.col-md-4.login-form {
    margin-top: 50px;
}

.footer {box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background-color:#fff /* #3A2696 *//* #f5f5f5 */;
    bottom: 0;
    height: 60px;color:#fff;
    position: fixed;
    width: 100%;
}
.alert.alert-warning.col-sm-9.col-sm-offset-2.alerto {
    margin-left: 0;
    padding: 5px 15px;
}
.col-md-6.left-align > a, .col-md-6.right-align > a{color:#4E62BB}
.widthall{width:100%;}
.nopad{padding:0px;}
.white-footer {
   
    color:#4E62BB;
    min-height: 50px;
    padding: 20px 15px 15px;
    text-align: center;
}
.blue-footer{background:#333366;color:#fff;min-height:70px}
.container.copyright {
    padding: 15px;
    text-align: center;
}
.breadcrumb {
    background-color:#FCFCFC;
    border-radius: 0px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
}
.navbar-form.form-inline.navbar-right {
    margin-top: 20px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: auto;
    padding: 0px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.ntb{border-radius: 20px;}
.ntbs{border-radius: 0px;}
.btn {
    
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    margin:0;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
       -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
            box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
}
.btn .btn-block:active, .btn .btn-lg:active {
    -webkit-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
       -moz-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
            box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
}
.form-control {
    border-radius: 0px;  color: #444;
}
.btn-default {
    color: #555;
    background-color: #f9f9f9;
    border-color: #cacaca;
    text-shadow: 1px 1px 0 #f5f5f5;
}
.btn-default:hover, .btn-default:focus {
    background-color: #f4f4f4;
    border-color: #bebebe;
}
.btn-success {
    background-color: #80d752;
    border-color: #61be26;
    text-shadow: 1px 1px 0 #5fdb34;
}
.btn-success:hover, .btn-success:focus {
    background-color: #75cd53;
    border-color: #53aa27;
}
.btn-info {
    background-color: #39b3d7;
    border-color: #348fd2;
    text-shadow: 1px 1px 0 #238ed5;
}
.btn-info:hover, .btn-info:focus {
    background-color: #45abcd;
    border-color: #347abe;
}
.btn-warning {
    background-color: #FEAF20;
    border-color: #d79a34;
    text-shadow: 1px 1px 0 #db9e34;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #f5a620;
    border-color: #cd9034;
}
.btn-danger {
    background-color: #d73814;
    border-color: #be0000;
    text-shadow: 1px 1px 0 #ac2925;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #cd3714;
    border-color: #aa0000;
}
.btn-primary {
    background-color: #4274d7;
    border-color: #4d5bbe;
    text-shadow: 1px 1px 0 #232bd5;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #426acd;
    border-color: #4f56aa;
}
.btn-magick {
    color: #fff;
    background-color: #bb39d7;
    border-color: #9a00cd;
    text-shadow: 1px 1px 0 #9823d5;
}
.btn-magick:hover, .btn-magick:focus {
    color: #fff;
    background-color: #b13acd;
    border-color: #8600b9;
}
.btn-pressure {
    position: relative;
    margin-bottom: 0;
}
.btn-pressure:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn-pressure:active, .btn-pressure.active {
    top: 4px;
    border: 0;
    position: relative;
}
.btn-sensitive:active, .btn-sensitive.active {
    top: 1px;
    margin-top: 4px;
}
.nav.navbar-nav.navbar-right.prosense a {
    font-size: 25px;
    margin-top: 10px;
}
.col-md-12.batazbox {
    padding-top: 25px;
}
.nav.mods-nav {
    margin-right: 15px;
}

.linkar {
    background: #D2322D;
    border-radius: 20px;
    color: #fff;float:right;
    display: inline;margin-top:20px;
    padding: 5px 10px;
}
.nav.nav-tabs a {
    font-size: 15px;
    font-weight: bold;
}
.glyphicon.glyphicon-lock {
    color: #f1f1f1;font-size: 15px;
}
h4{margin:0px;font-weight: bold;}
.tggl{ font-size: 25px;font-weight:bold; font-size: 38px;
    line-height: 42px;}
.glyphicon-lg{font-size:3em}
.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:10px; padding-right: 20px;}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:fff;}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}

