
body { width: 100%; min-height: 100%; font-family: "Open Sans", "Raleway", Lucida Sans Unicode, Verdana, Helvetica, sans-serif; font-size: 14px; line-height: 23px; color: #7a7a7a; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}

h1, h2, h3, h4, h5, h6 { font-weight: 300; font-family: "Raleway", Lucida Sans Unicode, "Helvetica Neue", Helvetica,Arial,sans-serif; color: #1a1a1a; transition: all .50s ease-in-out; -moz-transition: all .50s ease-in-out; -webkit-transition: all .50s ease-in-out;}
h1, h2, h3, h4, h5, h6 { margin-top: 0;  margin-bottom: 10px;}

h1 {font-size: 44px;}
h2 {font-weight: 700; margin-bottom: 20px; }
h3 {}
h4 {font-size: 17px; font-weight: 700; color: #2d2d2d;}

p { margin-bottom: 20px; line-height: 24px;}

a {-webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in; color: #00a8d6;}
a:hover, a:focus { text-decoration: none; color: #007DA0; outline: none; } 

ul { 
    margin: 0; 
    padding: 0; 
    list-style: none;
    text-align:center;
    color:#fff;
}

li{
    margin:10px;
}

::-moz-selection { text-shadow: none; background: #08b4da; color: #FFF;}
::selection { text-shadow: none; background: #08b4da; color: #FFF; }

img::selection { background: 0 0;}
img::-moz-selection { background: 0 0;}

hr {margin-top: 30px; margin-bottom: 40px; border-top: 1px solid #EFEFEF;}
body { webkit-tap-highlight-color: rgba(255,255,255,.2);}

form {margin-bottom: 0;}

 
/* ==========================================================================
login
========================================================================== */ 
#login {padding-top: 90px; 
/* padding-bottom: 110px;  */
padding-bottom: 50px;  
background: #1a1a1a; 
background-image: url(/Images/bg-login2.jpg); 
-webkit-background-size: cover; 
-moz-background-size: cover; -o-background-size: cover; background-size: cover; 
height:100%; 
position: relative; 
background-attachment: fixed;}

body#login .content-wrapper {
    margin: 0 auto;
    background: #fff;
    padding-top:0px;
    /*padding-bottom:80px;*/
    min-height: 100px;
    padding-left:0px;
    margin-top:-100px;
    min-height:0px;
}

    body#login .content-wrapper.right-side {
       margin: 0 auto;
    }

body#login.skin-blue .main-header .navbar {
    background-color:#007dea;
    box-shadow:0 2px 5px rgba(0,0,0,0.26);
    color:#fff;
      margin-left:0px;
}

    body#login.skin-blue .main-header .navbar .nav > li > a {
    color:#fff;
    }

body#login.skin-blue .main-header .navbar .sidebar-toggle {
    color:#fff;
    display:none;
}

body#login.skin-blue .main-header .logo {
    display:none;
}

body#login.userin nomerci {
  display:none;
}

body#login.fixed .main-header {
  display:none;
}


.validation-summary-errors{

}

.login-content { clear: both; padding-top: 40px;}
.login-content h1 {font-size: 50px; color: #FFF;  border-bottom:1px solid rgba(0,0,0,0.1); padding-bottom: 10px;}
.login-content h2 {color: #FFF;}
.login-content h5 {font-weight: bold; font-size: 16px; color: #FFF;}
.login-content p { color: rgba(255,255,255,0.7); }

.login-list {margin-bottom: 20px;}
.login-list li {color: rgba(255,255,255, 0.8); margin-bottom: 5px;}
.login-list li i { margin-right: 10px; color:#08b4da; }

/* ==========================================================================
Forms
========================================================================== */ 
.login-form { -webkit-box-shadow:0 0 10px rgba(0,0,0,.3); -moz-box-shadow: 0 0 10px rgba(0,0,0,.3); box-shadow: 0 0 10px rgba(0,0,0,.3); background: rgba(0,0,0,0.4);}
.form-title {background-color: rgba(0,0,0,0.5); color: #FFF; text-align: center; padding: 25px 0;}
.form-title h2 {margin-bottom: 0; font-size: 22px;}
.form-body {
padding: 30px;
background-color:#226ee8;
}
.form-body p {
/* color: rgba(255,255,255,0.6); */
color:#fff;
}

.login-form .form-control { 
/* color: #08b4da;  */
color:#000;
border: none; 
outline: none; 
box-shadow: none; 
padding: 13px 15px; 
transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; 
-webkit-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; 
border-radius: 0; 
height: auto; 
/* background-color: rgba(0,0,0,0.4);  */
margin-bottom: 15px;}

.btn-submit { display: block; margin:0 auto; background-color: #08b4da; color: #FFF; border-color:rgba(0,0,0,0.01); width:100%; padding: 11px; border:2px solid #08b4da;}
.btn-submit:hover {background: #08b4da; border-color: #08b4da;}

/* ==========================================================================
Footer
 ========================================================================== */
.footer-top {background-color: #2b2b2b; padding: 70px 0;}
.footer-sub {
/* background-color: #242424; */ 
background-color: #000; 
padding: 30px 0;
}

.footer h3 {color: #FFF; font-weight: bold; font-size: 19px; margin-bottom:15px;}
.footer p,
.footer a {color: #ADADAD; margin-bottom: 10px;}
.footer li {padding: 3px 0; font-size: 14px;}
.footer i {color: #f8f8f8;}

.copyright {float: right;}
.copyright i {color: #FF3D7F; margin:0 5px;}

.contact-list li {color: #ADADAD; margin-bottom: 5px;}
.contact-list i {margin-right: 15px;}

.quick-links li { padding-left:15px; position:relative; }
.quick-links li:before {display:inline-block; text-align:center; font-family: FontAwesome; content:"\f105"; position:absolute; left:0px; top:4px; transition:all 0.3s ease-in; transition:all 0.3s ease-in;  transition:all 0.3s ease-in; color: #f8f8f8;}


/* ==========================================================================
Media Queries
 ========================================================================== */
/* ------ Tablet Portrait size to standard 960 (devices and browsers) ------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	img {margin: 20px auto;}
	.img-thumbnail {margin: 0;}
}

/* ------ Mobile Landscape Size to Tablet Portrait (devices and browsers) ------*/
@media only screen and (max-width: 767px) {

}

/* ------ Mobile Portrait Size to Mobile Landscape Size (devices and browsers) ------*/
@media only screen and (max-width: 479px) {
	h2 {font-size: 28px;}
	h4 {font-size: 16px;}
	img {float: none; display: block; margin: 20px auto;}
	iframe {max-height: 200px;}
	.login-content h1 {font-size: 34px;}
	
	.copyright {float: none;}
}
.login-page {
    padding-top: 90px;
    padding-bottom: 50px;
    background: #1A1A1A url("../img/bg-login.jpg") repeat fixed 0% 0% / cover;
	height: 100%;
    position: relative;
}
.login-page .recover a{
color:#FFFFFF;
}
.login-page .recover a:hover{
text-decoration:underline;
}