@model IvanHotel.Models.TipeKamar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Back/_Layout.cshtml";
}
<div class="box">
    <div class="box-header">
        <b>Hapus Tipe Kamar</b>
    </div>
    <div class="box-body">
        <h3>Yakin data Tipe Kamar akan dihapus?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nama)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger btn-flat" />
                    @Html.ActionLink("Back to List", "Index", "", new { @class="btn btn-default btn-flat"})
                </div>
            }
        </div>
    </div>
</div>